[submodule "/home/cflowers/.vim/pack/syntax/start/graphql"]
	path = /home/cflowers/.vim/pack/syntax/start/graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "/home/cflowers/.vim/pack/syntax/start/typescript-vim"]
	path = /home/cflowers/.vim/pack/syntax/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "/home/cflowers/.vim/pack/ui/start/nerdtree"]
	path = /home/cflowers/.vim/pack/ui/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".local/share/nvim/site/pack/theming/start/gruvbox"]
	path = .local/share/nvim/site/pack/theming/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".local/share/nvim/site/pack/utility/start/vim-surround"]
	path = .local/share/nvim/site/pack/utility/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".local/share/nvim/site/pack/theming/start/vim-transparent"]
	path = .local/share/nvim/site/pack/theming/start/vim-transparent
	url = https://github.com/tribela/vim-transparent
[submodule ".local/share/nvim/site/pack/theming/start/vim-devicons"]
	path = .local/share/nvim/site/pack/theming/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".local/share/nvim/site/pack/ui/start/nerdtree"]
	path = .local/share/nvim/site/pack/ui/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".local/share/nvim/site/pack/lang/start/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/lang/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".local/share/nvim/site/pack/lang/start/nvim-cmp"]
	path = .local/share/nvim/site/pack/lang/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp/
[submodule ".local/share/nvim/site/pack/lang/start/cmp-nvim-lsp"]
	path = .local/share/nvim/site/pack/lang/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule ".local/share/nvim/site/pack/ui/start/telescope.nvim"]
	path = .local/share/nvim/site/pack/ui/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".local/share/nvim/site/pack/utility/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/utility/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".local/share/nvim/site/pack/organization/start/vimwiki"]
	path = .local/share/nvim/site/pack/organization/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule ".local/share/nvim/site/pack/vcs/start/vim-fugitive"]
	path = .local/share/nvim/site/pack/vcs/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".local/share/nvim/site/pack/organization/start/calendar.vim"]
	path = .local/share/nvim/site/pack/organization/start/calendar.vim
	url = https://github.com/itchyny/calendar.vim
[submodule ".local/share/nvim/site/pack/utility/start/vim-commentary"]
	path = .local/share/nvim/site/pack/utility/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".local/share/nvim/site/pack/lang/start/vim-graphql"]
	path = .local/share/nvim/site/pack/lang/start/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule ".local/share/nvim/site/pack/formatting/start/editorconfig-vim"]
	path = .local/share/nvim/site/pack/formatting/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".local/share/nvim/site/pack/theming/start/lualine.nvim"]
	path = .local/share/nvim/site/pack/theming/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule ".local/share/nvim/site/pack/utility/start/LuaSnip"]
	path = .local/share/nvim/site/pack/utility/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule ".local/share/nvim/site/pack/utility/start/nvim-treesitter"]
	path = .local/share/nvim/site/pack/utility/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".local/share/nvim/site/pack/diagnostics/start/trouble.nvim"]
	path = .local/share/nvim/site/pack/diagnostics/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule ".local/share/nvim/site/pack/theming/start/nvim-web-devicons"]
	path = .local/share/nvim/site/pack/theming/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule ".local/share/nvim/site/pack/organization/start/orgmode"]
	path = .local/share/nvim/site/pack/organization/start/orgmode
	url = https://github.com/nvim-orgmode/orgmode
[submodule ".local/share/nvim/site/pack/ui/start/alpha-nvim"]
	path = .local/share/nvim/site/pack/ui/start/alpha-nvim
	url = https://github.com/goolord/alpha-nvim
