[user]
	email = t_chuck_flowers@yahoo.com
	name = Chuck Flowers
[core]
	editor = nvim
[rebase]
	autoSquash = true
[pull]
	ff = only
[alias]
	l = log --all --decorate --oneline --graph
	lb = log --decorate --oneline --graph
	rd = rebase -i master
	rr = rebase -i origin
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
