layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="header"
		}
		children
	}

	tab name="code" focus=true {
		pane command="nvim"
	}

	tab name="compose" {
		pane command="watch" {
			args "docker" "compose" "ps"
		} 
		pane
	}

	tab name="k8s" {
		pane command="k9s" {
			args "-c" "pods"
		}
	}
}
