* {
	font-family: Fira Code Nerd Font;
	font-size: 14pt;

	--gb-dark-black: #282828;
	--gb-dark-red: #cc241d;
	--gb-dark-green: #98971a;
	--gb-dark-yellow: #d79921;
	--gb-dark-blue: #458588;
	--gb-dark-purple: #b16286;
	--gb-dark-aqua: #689d6a;
	--gb-dark-white: #a89984;
	--gb-dark-orange: #d65d0e;

	--gb-light-black: #928374;
	--gb-light-red: #fb4934;
	--gb-light-green: #b8bb26;
	--gb-light-yellow: #fabd2f;
	--gb-light-blue: #83a598;
	--gb-light-purple: #d3869b;
	--gb-light-aqua: #8ec07c;
	--gb-light-white: #ebdbb2;
	--gb-light-orange: #fe8019;
}

#outer-box {
	padding: 8px;
	border: 1px solid #ebdbb2;
	border: 1px solid var(--gb-light-white);
}

#input {
	margin-bottom: 4px;
}

#img {
	margin-right: 1em;
}
